body {
    font-family: sans-serif;
    background-color: floralwhite;
}

#headingblock {
    background-color: lightgray;
}

#homepageimage {
    width: 100%;
}

#homepagetext {
    font-size: 1.4em;
}
