body {
    font-family: sans-serif;
    background-color: floralwhite;
}

#homepageimage {
    width: 75%;    
}

#homepagetext {
    font-size: 1.3em;
    font-family: sans-serif;
}

img.markdown {
    width: 75%;    
}